{% extends 'base.html' %}
{% load i18n %}
{% block main %}
<div class="container">
	<h1>{% trans "Problems" %}</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>{% trans "Code" %}</th>
				<th>{% trans "Problem" %}</th>
				<th>{% trans "Solved by" %}</th>
				<th>{% trans "Last comment" %}</th>
			</tr>
		</thead>
		<tbody>
		{% for problem in problems %}
			<tr>
				<td>{{ problem.slug }}</td>
				<td><a href="/problems/{{ problem.slug }}">{{ problem.title }}</a></td>
				<td>{{ problem.count_solved }}</td>
				{% if problem.pk in problems_solved_by_user %}
					{% if problem.last_comment %}
					<td><a href="/problems/{{ problem.slug }}/discussion/">{{ problem.last_comment.created|timesince }}</a></td>
					{% else %}
				<td><a href="/problems/{{ problem.slug }}/discussion/">{% trans "Be the first one!" %}</a></td>
					{% endif %}
				{% else %}
				<td></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
