<!DOCTYPE html>{% load i18n %}{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>{% block title %}{% trans "Дракон Держански" %}{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
	
	<script type="text/javascript" src="{% static 'vendor/jquery-2.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'script.js' %}"></script>
	{% block scripts %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="/">{% trans "Дракон Держански" %}</a>
			<ul class="nav navbar-nav">
				<li ><a href="/problems">{% trans "Задачи" %}</a></li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Мета" %} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/meta/creators">{% trans "Кои сме ние?" %}</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
				<li><a href="/users/me">{% trans "Профил" %}</a></li>
				<li><a href="/users/logout">{% trans "Изход" %}</a></li>
			{% else %}
				<li><a href="/users/login">{% trans "Вход" %}</a></li>
				<li><a href="/users/registration">{% trans "Регистрация" %}</a></li>
			{% endif %}
			</ul>
		</div>
	</nav>
	<div class="container">
	{% block main %}{% endblock %}
	</div>
	{% block modals %}{% endblock %}
</body>
</html>
