<!DOCTYPE html>{% load i18n %}{% load staticfiles %}{% load gravatar %}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>{% block title %}{% trans "Project Saussure" %}{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/style.css' %}" />
	<link rel="stylesheet" type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic" />
	<link rel="stylesheet" type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=latin,cyrillic" />
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
	
	<script type="text/javascript" src="{% static 'vendor/script.js' %}"></script>
	<script type="text/javascript" src="{% static 'script.js' %}"></script>
	{% block scripts %}{% endblock %}
</head>
<body>
	<header>
		<div class="container">
			<div class="col-sm-6">
				<a href="/" class="logo"></a>
				<h1>{% trans "Project Saussure" %}</h1>
				<div class="clearfix"></div>
			</div>
			{% if user.is_authenticated %}
			<div class="col-sm-6">
				<div class="user_nav">
					<div class="links">
						<a href="/users/logout/">{% trans "Log out" %}</a>
					</div>
					<div class="avatar hidden-xs">
						<a href="/users/me/" alt="{{ user.name }}">{% gravatar user.email 70 %}</a>
					</div>
					<div class="info">
						<a href="/users/me/">{{ user.name }}</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			{% else %}
			{% block header_login %}
			<div class="col-sm-4 col-sm-offset-2">
				<form action="/users/login/" method="post" role="form" class="form-horizontal">
					<div class="form-group">
						<label for="email" class="col-xs-3 control-label">{% trans "email" %}</label>
						<div class="col-xs-9">
							<input type="email" name="email" id="email" class="form-control input-sm" />
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-xs-3 control-label">{% trans "password" %}</label>
						<div class="col-xs-9">
							<input type="password" name="password" id="password" class="form-control input-sm" />
						</div>
						{% csrf_token %}
					</div>
					<div class="form-group text-muted">
						<button type="submit" class="btn-link pull-right">{% trans "login" %}</button>
						<a href="#" class="pull-right">{% trans "forgotten username/password?" %}</a>
					</div>
				</form>
			</div>
			{% endblock %}
			{% endif %}
		</div>
	</header>
	<nav class="navbar" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">{% trans "Home" %}</a></li>
				<li><a href="/problems/">{% trans "Problems" %}</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "About" %} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<!--li><a href="/meta/creators/">{% trans "Who are we?" %}</a></li-->
						<li><a href="#">{% trans "Who are we?" %}</a></li>
					</ul>
				</li>
				<li><a href="#">{% trans "News" %}</a></li>
				{% if not user.is_authenticated %}
				<li><a href="/users/registration/">{% trans "Register" %}</a></li>
				{% endif %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">{% trans "English" %}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	{% block main %}{% endblock %}
	<footer>
		<div class="container">
			<p class="text-center text-muted">
				{% trans "Since 2014." %}
				{% trans "Made by <strong>ѣ</strong>." %}
				{% trans "<a href='http://github.com/pavelsof/saussure.net/'>Open source.</a>" %}
			</p>
		</div>
	</footer>
	{% block modals %}{% endblock %}
</body>
</html>
