{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block main %}
<div id="home">
	<div class="how">
		<div class="step">
			<div class="icon icon_solve"></div>
			<strong>{% trans "Solve a problem" %}</strong>
		</div>
		<div class="step">
			<div class="icon icon_test"></div>
			<strong>{% trans "Test yourself" %}</strong>
		</div>
		<div class="step">
			<div class="icon icon_unlock"></div>
			<strong>{% trans "Unlock problems" %}</strong>
		</div>
		<div class="step">
			<div class="icon icon_unlock"></div>
			<strong>{% trans "Be crazy" %}</strong>
		</div>
		<div class="step">
			<div class="icon icon_discuss"></div>
			<strong>{% trans "Discuss" %}</strong>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="what">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h3>{% trans "What is Linguistics?" %}</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Sanctus sea sed takimata ut vero voluptua. At vero eos et accusam et justo duo dolores et ea rebum. At vero eos et accusam et justo duo dolores et ea rebum.</p>
				</div>
				<div class="col-sm-4">
					<h3>{% trans "What is a Linguistics Problem?" %}</h3>
					<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
				</div>
				<div class="col-sm-4">
					<h3>{% trans "What is a Linguistics Competition?" %}</h3>
					<p>At vero eos et accusam et justo duo dolores et ea rebum. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</a>
				</div>
			</div>
		</div>
	</div>
	<div class="who">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-sm-offset-2">
					<img src="{% static 'img/saussure.jpg' %}" class="img-responsive" />
				</div>
				<div class="col-sm-5">
					<h3>{% trans "Ferdinand de Saussure" %}</h3>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. At vero eos et accusam et justo duo dolores et ea rebum.</p>
					<p>Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. At vero eos et accusam et justo duo dolores et ea rebum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
