{% extends 'base.html' %}
{% load i18n %}
{% block main %}
„Началото е онова време, когато трябва да се положи най-усърдна грижа везните да са точни. Всяка сестра от «Бин Джезърит» знае това. За да започнете изследването си върху житието на Муад’Диб, първом трябва да се постараете да определите точно времето, през което е живял: роден е в 57-та година на падишах-император Шедъм IV. И най-прилежно трябва да се потрудите, за да установите коя е истинската родина на Муад’Диб: планетата Аракис. Не се подвеждайте по обстоятелството, че е роден на Каладън и че е прекарал там първите си петнадесет години, Аракис, планетата, известна като Дюн, става завинаги негова родина…“<br /><br />
Из „Справочник за Муад’Диб“ от принцеса Ирулан
{% endblock %}
