/* =================================== */
/*  Project Saussure                   */
/* =================================== */

@yellow: #e8df70;
@green: #a2d39e;
@blue: #00a79d;
@gray: #dcddde;

body {
	font-family: "PT Sans", sans-serif;
}

body > header {
	a.logo {
		background-image: url('../img/logo.png');
		background-position: center center;
		background-repeat: no-repeat;
		display: block;
		float: left;
		height: 100px;
		width: 100px;
	}
	h1 {
		color: black;
		display: block;
		float: left;
		font-family: "PT Sans", sans-serif;
		font-size: 34px;
		font-weight: 700;
		line-height: 44px;
		margin: 0;
		padding: 7px 0 0 7px;
		text-transform: uppercase;
		word-spacing: 90px;
		width: 180px;
	}
	form {
		padding-top: 5px;
		.form-group {
			margin-bottom: 5px;
			label {
				font-weight: 400;
				padding-right: 0px;
			}
		}
		button[type=submit] {
			background-color: @yellow;
			border-width: 0px;
			color: inherit;
			font-weight: 700;
			line-height: 14px;
			margin-right: 15px;
			padding: 2px 6px 4px 6px;
			&:hover {
				background-color: @green;
				color: black;
				text-decoration: none;
			}
		}
		a.pull-right {
			color: inherit;
			line-height: 14px;
			padding: 2px 10px 4px 0px;
		}
	}
	.user_nav {
		height: 80px;
		margin-top: 15px;
		.info {
			float: right;
			a {
				color: inherit;
				font-weight: 700;
			}
		}
		.avatar {
			float: right;
			height: 80px;
			margin: 0 15px;
			width: 80px;
		}
		.links {
			float: right;
			a {
				color: inherit;
			}
		}
	}
}

body > nav {
	background-color: @yellow;
	min-height: 34px !important;
	.nav > li > a {
		color: inherit;
		padding-bottom: 7px;
		padding-top: 7px;
		&:hover, &:active, &:focus {
			background-color: @green;
		}
	}
	.nav li.open > a {
		background-color: @green;
		&:hover, &:active, &:focus {
			background-color: @green;
		}
	}
	.nav ul.dropdown-menu {
		background-color: @green;
		a {
			background-color: @green;
			&:hover, &:active, &:focus {
				background-color: @yellow;
			}
		}
	}
}

body > footer {
	margin-top: 10px;
	a {
		color: inherit;
	}
}

#home {
	.how {
		clear: both;
		margin: 60px auto 60px auto;
		max-width: 900px;
		.step {
			float: left;
			width: 180px;
			.icon {
				background-position: center center;
				background-repeat: no-repeat;
				height: 100px;
				width: 100%;
				&.icon_solve {
					background-image: url('../img/solve_icon.png');
				}
				&.icon_test {
					background-image: url('../img/test_icon.png');
				}
				&.icon_unlock {
					background-image: url('../img/unlock_icon.png');
				}
				&.icon_discuss {
					background-image: url('../img/discuss_icon.png');
				}
			}
			strong {
				clear: both;
				display: block;
				text-align: center;
			}
		}
	}
	.what {
		background-color: @gray;
		padding: 10px 0 30px 0;
	}
	.who {
		margin: 60px 0 60px 0;
		h3 {
			margin-top: 0;
		}
	}
}

article.problem {
	header {
		background-color: @blue;
		color: white;
		margin-bottom: 15px;
		h2 {
			font-size: 24px;
			font-weight: 400;
			margin: 15px auto 0 auto;
			text-align: center;
		}
		h1 {
			font-size: 24px;
			font-weight: 700;
			margin: 0 auto 15px auto;
			text-align: center;
		}
		.count_solved {
			display: block;
			font-size: 16px;
			margin-top: 47px;
			text-align: right;
		}
	}
	aside {
		float: left;
		margin-left: 10px;
		a {
			background-position: center center;
			background-repeat: no-repeat;
			border: none;
			clear: both;
			display: block;
			height: 55px;
			margin-bottom: 25px;
			width: 55px;
			&.print {
				background-image: url('../img/print_button.png');
			}
			&.new_window {
				background-image: url('../img/new_window_button.png');
			}
			&.get_pdf {
				background-image: url('../img/get_pdf_button.png');
			}
		}
	}
	section {
		margin-bottom: 25px;
		button.fetch {
			background-color: @yellow;
			border: 5px solid transparent;
			color: @blue;
			display: block;
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			margin: 0 auto 20px auto;
			padding: 2px 0;
			width: 150px;
			&:hover {
				border-color: @blue;
			}
		}
	}
	footer {
		background-color: @blue;
		color: white;
		padding: 30px 0;
		h2 {
			font-size: 16px;
			font-weight: 700;
			margin: 0 0 10px 0;
		}
		p {
			font-size: 16px;
		}
		strong {
			display: block;
			font-size: 18px;
			text-align: center;
		}
	}
}

article.user {
	header {
		background-color: @blue;
		color: white;
		margin-bottom: 15px;
		padding: 25px 0;
		.avatar {
			img {
				border: 10px solid white;
			}
		}
		h1 {
			font-size: 21px;
			font-weight: 700;
			margin: 0 0 20px 0;
			text-align: left;
		}
		dl {
			font-size: 18px;
			dt {
				font-weight: 400;
			}
		}
		.links {
			a {
				background-position: center center;
				background-repeat: no-repeat;
				clear: both;
				display: block;
				float: right;
				height: 55px;
				margin-bottom: 20px;
				width: 55px;
				&.message {
					background-image: url('../img/message.png');
				}
				&.stats {
					background-image: url('../img/stats.png');
				}
			}
		}
	}
	section {
		.tags {
			margin: 0 auto;
			width: 700px;
			.tag_container {
				background-position: center top;
				background-repeat: no-repeat;
				float: left;
				height: 140px;
				margin: 0 10px 10px 10px;
				position: relative;
				width: 120px;
				&.yellow {
					background-image: url('../img/yellow.png');
				}
				.tag {
					background-position: center center;
					background-repeat: no-repeat;
					display: block;
					height: 100px;
					margin: 10px auto;
					width: 100px;
					&.morphology {
						background-image: url('../img/morphology.png');
					}
					&.numeral_systems {
						background-image: url('../img/numeral_systems.png');
					}
					&.phonology {
						background-image: url('../img/phonology.png');
					}
					&.syntax {
						background-image: url('../img/syntax.png');
					}
					&.writing_systems {
						background-image: url('../img/writing_systems.png');
					}
				}
				strong {
					bottom: 0;
					clear: both;
					display: block;
					font-weight: 400;
					position: absolute;
					text-align: center;
					width: 100%;
				}
			}
		}
		.problems {
			.problem {
				border-radius: 5px;
				color: inherit;
				display: inline-block;
				padding: 3px 10px;
				text-decoration: none;
				&:hover {
					background-color: @yellow;
					text-decoration: none;
				}
				&.solved {
					background-color: @green;
				}
			}
		}
	}
}

div.discussion {
	
}

