/* =================================== */
/*  Project Saussure                   */
/* =================================== */

@yellow: #e8df70;
@green: #a2d39e;
@blue: #00a79d;
@gray: #dcddde;

body {
	font-family: "PT Sans", sans-serif;
}

body > header {
	a.logo {
		background-image: url('../img/logo.png');
		background-position: center center;
		background-repeat: no-repeat;
		display: block;
		float: left;
		height: 120px;
		width: 100px;
	}
	h1 {
		color: black;
		display: block;
		float: left;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 38px;
		font-weight: 700;
		line-height: 42px;
		margin: 0;
		padding: 18px 0 0 7px;
		text-transform: uppercase;
		word-spacing: 90px;
		width: 180px;
	}
	form {
		padding-top: 15px;
		.form-group {
			margin-bottom: 5px;
			label {
				font-weight: 400;
			}
		}
		button[type=submit] {
			border-width: 0px;
			color: inherit;
			font-weight: 700;
			margin-right: 6px;
		}
		a.pull-right {
			color: inherit;
			padding-right: 15px;
		}
	}
	.user_nav {
		height: 80px;
		margin-top: 20px;
		.info {
			float: right;
			a {
				color: inherit;
				font-weight: 700;
			}
		}
		.avatar {
			float: right;
			height: 80px;
			margin: 0 15px;
			width: 80px;
		}
		.links {
			float: right;
			a {
				color: inherit;
			}
		}
	}
}

body > nav {
	background-color: @yellow;
	.nav > li > a {
		color: inherit;
		&:hover, &:active, &:focus {
			background-color: @green;
		}
	}
	.nav li.open > a {
		background-color: @green;
		&:hover, &:active, &:focus {
			background-color: @green;
		}
	}
	.nav ul.dropdown-menu {
		background-color: @green;
		a {
			background-color: @green;
			&:hover, &:active, &:focus {
				background-color: @yellow;
			}
		}
	}
}

body > footer {
	margin-top: 10px;
	a {
		color: inherit;
	}
}

#home {
	.how {
		clear: both;
		margin: 60px auto 60px auto;
		max-width: 900px;
		.step {
			float: left;
			width: 180px;
			.icon {
				background-position: center center;
				background-repeat: no-repeat;
				height: 100px;
				width: 100%;
				&.icon_solve {
					background-image: url('../img/solve_icon.png');
				}
				&.icon_test {
					background-image: url('../img/test_icon.png');
				}
				&.icon_unlock {
					background-image: url('../img/unlock_icon.png');
				}
				&.icon_discuss {
					background-image: url('../img/discuss_icon.png');
				}
			}
			strong {
				clear: both;
				display: block;
				text-align: center;
			}
		}
	}
	.what {
		background-color: @gray;
		padding: 10px 0 30px 0;
	}
	.who {
		margin: 60px 0 60px 0;
		h3 {
			margin-top: 0;
		}
	}
}

article.problem {
	header {
		background-color: @blue;
		color: white;
		margin-bottom: 15px;
		h2 {
			font-size: 24px;
			font-weight: 400;
			margin: 15px auto 0 auto;
			text-align: center;
		}
		h1 {
			font-size: 24px;
			font-weight: 700;
			margin: 0 auto 15px auto;
			text-align: center;
		}
		.count_solved {
			display: block;
			font-size: 16px;
			margin-top: 47px;
			text-align: right;
		}
	}
	aside {
		float: left;
		margin-left: 10px;
		a {
			background-position: center center;
			background-repeat: no-repeat;
			border: none;
			clear: both;
			display: block;
			height: 55px;
			margin-bottom: 25px;
			width: 55px;
			&.print {
				background-image: url('../img/print_button.png');
			}
			&.new_window {
				background-image: url('../img/new_window_button.png');
			}
			&.get_pdf {
				background-image: url('../img/get_pdf_button.png');
			}
		}
	}
	section {
		margin-bottom: 25px;
		button.fetch {
			background-color: @yellow;
			border: 5px solid transparent;
			color: @blue;
			display: block;
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			margin: 0 auto 20px auto;
			padding: 2px 0;
			width: 150px;
			&:hover {
				border-color: @blue;
			}
		}
	}
	footer {
		background-color: @blue;
		color: white;
		padding: 30px 0;
		h2 {
			font-size: 16px;
			font-weight: 700;
			margin: 0 0 10px 0;
		}
		p {
			font-size: 16px;
		}
		strong {
			display: block;
			font-size: 18px;
			text-align: center;
		}
	}
}

