{% extends 'base.html' %}
{% load i18n %}
{% block main %}
<h1>{% trans "Регистрация" %}</h1>
{% if message %}
<div class="alert alert-danger">
	<strong>{% trans "Лошо!" %}</strong> {{ message }}
</div>
{% endif %}
<form action="" method="post" role="form">
	<div class="form-group">
		<label for="email">{% trans "Поща" %}</label>
		<input type="email" name="email" id="email" class="form-control" required placeholder="{% trans "Обещаваме, че няма да спамим!" %}" />
	</div>
	<div class="form-group">
		<label for="password">{% trans "Парола" %}</label>
		<input type="password" name="password" id="password" class="form-control" required placeholder="{% trans "Изберете по-трудна парола" %}" />
		<br />
		<input type="password" name="password2" class="form-control" required placeholder="{% trans "И я напишете пак тук" %}" />
	</div>
	<div class="form-group">
		<label for="name">{% trans "Име" %}</label>
		<input type="text" name="name" id="name" class="form-control" placeholder="{% trans "Всякакви знаци са позволени тук" %}" />
		<p class="help-block">{% trans "Незадължително поле" %}</p>
	</div>
	{% csrf_token %}
	<button type="submit" class="btn btn-primary">{% trans "Регистрация" %}</button>
</form>
{% endblock %}
